doctype html
html
  head
    meta(charset='utf-8')
    title Twitter-Map
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    #map
    .row
      .small-6.columns.small-centered
        .alert-box.tweet(data-alert='')
          span#tweet Real-Time Tweets

    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js')
    script(src='javascripts/viz.js')

